:root {
  --light-orange: #FFC7B7;
  --orange: #FDAC94;
  --dark-orange: #FDAC94;
  --super-dark-orange: #F7988A;
  --red: #C34149;
  --light-red: #D94A53;
  --super-dark-blue: #02012D;
  --white: #FFFFFF;
}

.text-super-dark-blue {
  color: var(--super-dark-blue);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--super-dark-blue);
  background-color: var(--light-orange);
  margin: 0px;
}

body::-webkit-scrollbar-track {
  background-color: var(--orange);
}

body::-webkit-scrollbar {
  width: 16px;
  background-color: var(--orange);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}

.navbar-desktop a {
  float: right;
  display: block;
  color: var(--super-dark-blue);
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-desktop a:hover {
  color: var(--light-red);
}

.navbar-mobile {
  display: none;
  background-color: var(--orange);
  z-index: 1999999999;
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
}

.navbar-mobile .links {
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.navbar-mobile .links .link .icon {
  color: var(--red);
}

.navbar-mobile .links .link .title {
  padding: 5px;
  font-size: 15px;
}

.navbar-mobile .links .link:hover {
  color: var(--red);
}

@media (max-width: 768px) {
  .navbar-desktop, footer, .vertical-title-container {
    display: none;
  }
  .navbar-mobile {
    display: block;
  }
}

button {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--light-orange);
  background-color: var(--red);
  border: none;
  padding: 24px 36px;
  outline: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-red);
}

h1 {
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 1em;
  margin: 0;
}

h1 .large-title {
  font-size: 9rem;
  line-height: 1em;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1em;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1em;
  margin: 0;
  color: var(--red);
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1em;
  margin: 0;
}

h5 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1em;
  margin: 0;
  color: var(--red);
}

p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.55em;
  margin-top: 0;
}

.content {
  padding: 5%;
  max-width: 1200px;
  margin: auto;
}

.content .listen-now, .content .sub {
  margin: 32px 0;
}

.content .produced-by {
  margin: 80px 0;
  color: var(--super-dark-blue);
}

.content .section {
  margin: 80px 0;
}

.vertical-title-container {
  margin-left: 50px;
  margin-right: 24px;
}

.vertical-title-container .vertical-title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 0em;
  margin: 0;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-left: 40px;
  color: var(--super-dark-orange);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 64px;
}

.section .section-title {
  margin-bottom: 32px;
}

.section .section-title h2 {
  margin-top: 12px;
}

.section .section-title h3 {
  max-width: 500px;
}

.section .section-content {
  margin-left: 20px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 294px;
  background-color: var(--super-dark-blue);
  color: var(--white);
}

footer .info {
  padding-left: 40px;
}

footer .links {
  padding-top: 40px;
  font-size: 16px;
  line-height: 19px;
}

footer .links .link {
  padding-top: 20px;
}

.logo-small {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.logo-small img {
  width: 58px;
  height: 58px;
}

.logo-small .title {
  padding-left: 15px;
  font-size: 22px;
}

.logo-average {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.logo-average img {
  width: 58px;
  height: 58px;
}

.logo-average .title {
  padding-left: 15px;
  font-size: 22px;
}

.logo-big {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
}

.logo-big img {
  width: 98px;
  height: 98px;
}

.logo-big .title {
  padding-left: 15px;
  font-size: 32px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  height: 200px;
  margin-top: 15px;
  background: #FDAC94;
}

.card .photo {
  width: 40%;
  max-width: 200px;
  height: 100%;
  background: var(--super-dark-orange);
}

.card .episode-info {
  width: 60%;
  position: relative;
}

.card .episode-info div {
  margin-left: 16px;
}

.card .episode-info .epp-number {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 28px;
  font-weight: 900;
  color: var(--red);
}

.card .episode-info .title {
  padding-top: 16px;
  font-size: 17px;
  color: var(--red);
}

.card .episode-info .name {
  padding-top: 4px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--super-dark-blue);
}

.card .episode-info .work-function {
  padding-top: 4px;
  font-size: 21px;
  line-height: 23px;
  color: var(--super-dark-blue);
}

.card .episode-info .description {
  padding-top: 8px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card .episode-info .company-name {
  position: absolute;
  bottom: 16px;
  font-size: 16px;
  line-height: 16px;
  color: var(--red);
}
/*# sourceMappingURL=index.css.map */