:root {
    --light-orange: #FFC7B7;
    --orange: #FDAC94;
    --dark-orange: #FDAC94;
    --super-dark-orange: #F7988A;
    --red: #C34149;
    --light-red: #D94A53;
    --super-dark-blue: #02012D;
    --white: #FFFFFF;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: var(--super-dark-blue);
    background-color: var(--light-orange);
    max-width: 1200px;
    margin: auto;
  }
body::-webkit-scrollbar-track {
    background-color: var(--orange);
}
body::-webkit-scrollbar {
  width: 16px;
  background-color: var(--orange);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--red);  
}


.navbar-desktop{
    a {
        float: right;
        display: block;
        color: var(--super-dark-blue);
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        font-size: 17px;
      }
      a:hover {
        color: var(--light-red);
      }
}

.navbar-mobile{
    display: none;
    background-color: var(--orange);
    z-index: 1999999999;

    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    
    .links{
        height: 80px;
        align-items: center;
        text-align: center;
        
        .link{
            .icon{
                color: var(--red);
            }
    
            .title{
                padding: 5px;
                font-size: 15px;
            }
        }
        .link:hover {
            color: var(--red);
          }
    }
}
  
@media(max-width: 480px) {
    .navbar-desktop, footer{
        display: none;  
    }
    .navbar-mobile{
        display: block;  
    }
}


button {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--light-orange);
    background-color: var(--red);
    border: none;
    padding: 24px 36px;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: var(--light-red);
    }
}
  
h1 {
    font-weight: bold;
    font-size: 5.5rem;
    line-height: 1em;
    margin: 0;
    
    .large-title {
      font-size: 9rem;
      line-height: 1em;
    }
}
  
h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1em;
    margin: 0;
}
  
h3 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1em;
    margin: 0;
    color: var(--red);
}
  
h4 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1em;
    margin: 0;
}
  
h5 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1em;
    margin: 0;
    color: var(--red);
}
  
p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.55em;
    margin-top: 0;
}

.content{
    padding: 5%; 
}

.vertical-title-container {
    margin-left: 50px;
    margin-right: 24px;
    
    .vertical-title {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 7rem;
      line-height: 0em;
      margin: 0;
      transform: scale(-1,-1);
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding-left: 40px;
      color: var(--super-dark-orange);
      width: fit-content;
      white-space: nowrap;
      
    }
  }

  .vertical-title-container {
    margin-left: 50px;
    margin-right: 24px;
    
    .vertical-title {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 7rem;
      line-height: 0em;
      margin: 0;
      transform: scale(-1,-1);
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding-left: 40px;
      color: var(--super-dark-orange);
      width: fit-content;
      white-space: nowrap;
      
    }
  }
  
.section {
    display: flex;
    padding-top: 64px;
    
    .section-title {
      margin-bottom: 32px;
  
      h2 {
        margin-top: 12px;
      }
      h3 {
        max-width: 500px;
      }
    }
    .section-content {
      margin-left: 20px;
      
      .content-container {
        
      }
    }
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 294px;
    background-color: var(--super-dark-blue);
    color: var(--white);

    .info{
        padding-left: 40px;
    }

    .links{
        padding-top: 40px;
        font-size: 16px;
        line-height: 19px;
        
        .link{
            padding-top: 20px;
        }
    }
}

.logo{
    padding-top: 40px;
    display: flex;
    align-items: center;
    width: 500px;

    img{
        width: 58px;
        height: 58px;
    }
    .title{
        padding-left: 15px;
        font-size: 20px;
    }
}