<div *ngIf="episode" class="content">
    <section>
        <div class="vertical-title-container">
            <div id="episode-number" class="vertical-title">Episódio {{episode.index}}</div>
        </div>
        <div class="section-content">
            <div class="section-title">
                <h3>Hoje nós falamos com</h3>
                <h2>{{episode.name}}</h2>
                
            </div>
            <div class="interview-photo">
                <img src="../../../assets/img/interviews/{{episode.photo ? episode.photo : 'undefined-person.png'}}">
                <div class="work-function">{{episode.workFunction}}</div>
                <div class="recording-time">Gravado em {{episode.publishDate | date:'dd/MM/yyyy'}}</div>
            </div>
            <app-player [episode]="'audio1.mp3'"></app-player>
            <div class="text-area">
                <h3>Sobre nosso papo</h3>
                <p>
                    {{episode.description}}
                </p>
            </div>
        </div>
    </section>
</div>
