.cover {
    min-height: 230px;
}

.organization-card{
    display: flex;
    -webkit-box-align: center;
    
    background: var(--orange);
    min-width: 300px;
    min-height: 180px;
   
    .photo{
        //width: 40%;
        max-width: 200px;
        //height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
        
        background: var(--super-dark-orange);
    }

    .episode-info{
        //width: 60%;
        position: relative;
        
        div{
            margin-left: 16px;
        }

        .epp-number{
            position: absolute;
            top: 3px;
            right: 8px;
            font-size: 27px;
            font-weight: 900;
            color: var(--red);
        }

        .title{
            
            padding-top: 16px;
            font-size: 17px;
            color: var(--red);
        }

        .name{
            padding-top: 4px;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            color: var(--super-dark-blue);
        }

        .work-function{
            padding-top: 4px;
            font-size: 21px;
            line-height: 23px;
            color: var(--super-dark-blue);
        }

        .description{
            padding-top: 8px;
            padding-right: 16px;
            font-size: 14px;
            line-height: 18px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .company-name{
            position: absolute;
            bottom: 16px;
            font-size: 16px;
            line-height: 16px;
            color: var(--red);
        }
    }
 
    &:hover {
        transition: all 0.05s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -1px;
        border: 1px solid #FDAC94;
        //background-color: #FFC7B7;
    }
}

.organization-card:hover{
    background: var(--dark-orange);
}

@media(max-width: 768px) {
    .organization-card .episode-info{
        .epp-number {
            font-size: 24px;
        }
        .name {
            font-size: 21px;
        }
    }
}