.card {
    position: relative;
    display: flex;
  	margin:2% 5px 2% 5px;
  	background: var(--orange);
	padding:0;
	// min-width:400px;
    // max-width:700px;

    &:hover {        
            transition: box-shadow .25s;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    //width:200px;
    //width: calc(85px + 10vw);
    width: 35vw;
    max-width: 200px;
    //height:200px;
    //height: calc(100px + 10vh);
    height: 30vh;
    max-height:200px;
}

.card .card-image {
  position: relative;
  display: flex;
  align-items: center;
}

.card .episode-info{
    padding-left: 16px;
}

.epp-number{
    position: absolute;
    top: 3px;
    right: 8px;
    font-size: 27px;
    font-weight: 900;
    color: var(--red);
}

.title{
            
    padding-top: 16px;
    
    font-size: 18px;
    color: var(--red);
}

.name{
    padding-top: 4px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--super-dark-blue);
}

.work-function{
    padding-top: 4px;
    font-size: 21px;
    line-height: 23px;
    color: var(--super-dark-blue);
}

.description{
    padding-top: 8px;
    padding-right: 16px;
    font-size: 14px;
    line-height: 18px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

// .company-name{
//     position: absolute;
//     bottom: 16px;
//     font-size: 16px;
//     line-height: 16px;
//     color: var(--red);
// }