
.navbar-desktop{
    height: 70px;
    width: 100%;
    a {
        float: right;
        display: block;
        color: var(--super-dark-blue);
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;    
        padding-top: 15px;
        text-decoration: none;
        font-size: 17px;
      }
      a:hover {
        color: var(--light-red);
      }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: Roboto;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        .large-title {
            font-size: 20px;
        }
    }
    
}

.navbar-mobile{
    display: none;
    background-color: var(--orange);
    z-index: 1999999999;

    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    
    .links{
        height: 80px;
        align-items: center;
        text-align: center;
        
        .link{
            .icon{
                color: var(--red);
                img{
                    height: 30px;
                    width: 30px;
                }
            }
    
            .title{
                padding: 5px;
                font-size: 15px;
            }
        }
        .link:hover {
            color: var(--red);
          }
    }
}

@media(max-width: 768px) {
    .navbar-desktop, footer, .vertical-title-container{
        display: none;  
    }
    .navbar-mobile{
        display: block;  
    }
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 294px;
    background-color: var(--super-dark-blue);
    

    .info{
        padding-left: 30px;
    }

    .links{
        padding-top: 30px;
        line-height: 19px;
        
        div {
            padding-top: 20px;
        }
        a {
            font-size: 16px;
            color: var(--white);
            text-decoration: none;
        }
    }

    .logo-small{
        padding-top: 50px;
        display: flex;
        align-items: center;
        max-width: 500px;
    
        img{
            width: 58px;
            height: 58px;
        }
        .title{
            padding-left: 15px;
            font-size: 22px;
            color: var(--white);
        }
    }
}