
 <!--[Start] NavBar-->
<nav>
 <div class="row navbar-desktop">
    <div class="col-xs-1" (click)="goTo('index')">
        <div class="box title pointer">
            <span class="">Jordana da<br><span class="large-title">Heroína</span></span>
        </div>
    </div>
    <div class="col-xs-11">
        <div class="box">
            <a routerLink="/hosts">Hosts</a>
            <a routerLink="/episodes">Episódios</a>
            <a routerLink="/recommendations">Recomentações</a>
        </div>
    </div>
</div>
</nav>
<!--[End] NavBar-->

<router-outlet></router-outlet>
<!--[Start] NavBar-->
<nav>
    <div class="row navbar-mobile">
        <div class="col-xs-12">
            <div class="box">
                <div class="row links">
                    <div class="col-xs-4 link" (click)="goTo('index')">
                        <div class="box icon"><img src="../assets/img/icons/icon-home.png"></div>
                        <div class="box title">Home</div>   
                    </div>
                    <div class="col-xs-4 link" (click)="goTo('episodes')">
                        <div class="box icon"><img src="../assets/img/icons/icon-headphone.png"></div>
                        <div class="box title">Episódios</div>   
                    </div>
                    <div class="col-xs-4 link"(click)="goTo('hosts')">
                        <div class="box icon"><img src="../assets/img/icons/icon-people.png"></div>
                        <div class="box title">Realizadoras</div>   
                    </div>
                    <!-- <div class="col-xs-4 link" (click)="goTo('episodes')">
                        <div class="box icon"><img src="../assets/img/icons/icon-organization.png"></div>
                        <div class="box title">Organização</div>   
                    </div> -->
                    
                </div>
            </div>
        </div>
    </div>
</nav>
<!--[End] NavBar-->
<footer>
    <div class="info">
        <div class="links">
            <div><a routerLink="/index">Home</a></div>
            <div><a routerLink="/episodes">Episódios</a></div>
            <div><a routerLink="/hosts">Realizadoras</a></div>
            <div><a routerLink="/recommendations">Recomentações</a></div>
        </div>
        <div class="logo-small">
            <img src="../../../assets/img/logo.jpg">
            <div class="title"> Grupo de Inclusão e Incentivo de Mulheres na Tecnologia </div>
        </div>
    </div>
</footer>