<header class="header row">
    <div class="col-xs-1 pointer" (click)="goTo('index')">
        <span class="title">Jordana da<br><span class="large-title">Heroína</span></span>
    </div>
    <div class="col-xs-11">
        <input #checkboxMenu class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><span class="home-button pointer" (click)="onClickMenu('index')">Home</span></li>
            <li><span class="pointer" (click)="onClickMenu('episodes')">Episódios</span></li>
            <li><span class="pointer" (click)="onClickMenu('hosts')">Realizadoras</span></li>
            <li><span class="pointer" (click)="onClickMenu('recommendations')">Recomendações</span></li>
            <li><span class="pointer" (click)="onClickMenu('posts')">Artigos</span></li>
        </ul>
    </div>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="info">
        <div class="links">
            <div><a routerLink="/index">Home</a></div>
            <div><a routerLink="/episodes">Episódios</a></div>
            <div><a routerLink="/hosts">Realizadoras</a></div>
            <div><a routerLink="/recommendations">Recomendações</a></div>
            <div><a routerLink="/posts">Artigos</a></div>
        </div>
        <div class="logo-footer">
            <img src="../../../assets/img/logo.jpg">
            <div class="title"> Grupo de Inclusão e Incentivo de Mulheres na Tecnologia </div>
        </div>
    </div>
</footer>