:root {
    --light-orange: #FFC7B7;
    --orange: #FDAC94;
    --dark-orange: #ff9e82;
    --super-dark-orange: #F7988A;
    --red: #C34149;
    --light-red: #D94A53;
    --super-dark-blue: #02012D;
    --white: #FFFFFF;
}

h1 {
    font-weight: bold;
    font-size: 5.5rem;
    line-height: 1em;
    margin: 0;
    
    .large-title {
      font-size: 9rem;
      line-height: 1em;
    }
}
  
h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1em;
    margin: 0;
}
  
h3 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1em;
    margin: 0;
    color: var(--red);
}
  
h4 {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1em;
    margin: 0;
}
  
h5 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1em;
    margin: 0;
    color: var(--red);
}
  
p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.55em;
    margin-top: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--super-dark-blue);
    background-color: var(--light-orange);
    margin: 0px;
}

.content{
    padding-left: 5%; 
    padding-right: 5%; 
    padding-top: 3%; 
    padding-bottom: 5%; 

    max-width: 2500px;
    //margin: auto;

    .listen-now, .sub{
        margin: 32px 0;
    }

    .produced-by{
        margin: 0 0px 100px 0;
        color: var(--super-dark-blue);
    }

    .section{
        padding: 60px 0;
    }
}

section {
    display: flex;
    //padding-top: 100px;
    
    .section-title {
      margin-bottom: 32px;
  
      h2 {
        margin-top: 12px;
      }
      h3 {
        //max-width: 500px;
      }
    }
    .section-content {
      margin-left: 20px;
    }

    .text-area{
        margin-top: 50px;
    }
}


.pointer{
    cursor: pointer;
}

.vertical-title-container {
    margin-left: 50px;
    margin-right: 24px;
    
    .vertical-title {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 7rem;
      line-height: 0em;
      margin: 0;
      transform: scale(-1,-1);
      writing-mode: vertical-rl;
      text-orientation: mixed;
      padding-left: 40px;
      color: var(--super-dark-orange);
      width: fit-content;
      white-space: nowrap;
      
    }
}

@media(max-width: 570px) {
    .vertical-title-container {
        display: none;  
    }
}

@media(max-width: 768px) {
    .content{
        padding-bottom: 85px; 
    }

    section .section-content{
        margin-left: 0px;
    }

    .heroin-img{
        display: none;
    }

    h1{
        font-size: 2.5rem; 
        .large-title {
            font-size: 5rem; 
        }
    }
    h3{
        font-size: 1.5rem;
    }
    
}