
.navbar-desktop{
    height: 70px;
    a {
        float: right;
        display: block;
        color: var(--super-dark-blue);
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;    
        padding-top: 15px;
        text-decoration: none;
        font-size: 17px;
      }
      a:hover {
        color: var(--light-red);
      }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: Roboto;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        .large-title {
            font-size: 20px;
        }
    }
    
}

.navbar-mobile{
    display: none;
    background-color: var(--orange);
    z-index: 1999999999;

    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    
    .links{
        height: 80px;
        align-items: center;
        text-align: center;
        
        .link{
            .icon{
                color: var(--red);
            }
    
            .title{
                padding: 5px;
                font-size: 15px;
            }
        }
        .link:hover {
            color: var(--red);
          }
    }
}

@media(max-width: 768px) {
    .navbar-desktop, footer, .vertical-title-container{
        display: none;  
    }
    .navbar-mobile{
        display: block;  
    }
}