<div class="content">
    <!--[Start] Principal-->
    <div class="row">
        <div class="col-md-6">
            <h1>Jornada da<br><span class="large-title">Heroína</span></h1>
            <div class="sub">
                <h3>Entrevistas com mulheres f#d@s da área de tecnologia</h3>
            </div>
            <div class="listen-now">
                <button (click)="goTo('episodes')">Ouça agora</button>
            </div>
        </div>
        <div class="col-md-6 heroin-img">
            <img src="../../../assets/img/heroina_head_page.png">
        </div>
        <div class="produced-by">
            <h4>PRODUZIDO POR:</h4>
            <div class="logo">
                <img src="../../../assets/img/logo.jpg">
                <div class="title"> Grupo de Inclusão e Incentivo de Mulheres na Tecnologia </div>
            </div>
        </div>
    </div>
    <section>
        <div class="vertical-title-container"><div class="vertical-title">Organização</div></div>
        <div class="section-content">
            <div class="section-title">
                <h3>Nossa missão é: Através de ações, incentivar mulheres no meio tecnológico para
                    que entendam que a sua identidade de gênero não deve limitar sua capacidade,
                    nem restringir suas oportunidades.</h3>
                <h2>Quem somos nós</h2>
                <div class="logo-big">
                    <img src="../../../assets/img/logo.jpg">
                    <div class="title"> Grupo de Inclusão e Incentivo de Mulheres na Tecnologia </div>
                </div>
                
            </div>
            <div *ngIf="organization" class="row ">
                <p *ngFor="let row of organization | async">
                    {{row.text}}
                </p>
            </div>
        </div>
    </section>
</div>